body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
}

button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
img{
    margin-bottom: -5px;
}
h2{
   margin-top:-2px;
}